<%= form_for @song  do |f| %>
<label>Song Title:</label>
<%= artist_id_field(@song) %>
<br>

  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <%= f.label :artist_name %>
  <%= artist_select(@song.artist, @song) %>

  <br />

  <%= f.submit %>
<% end %>
